extends _layout
block content
    footer#footer
        #contact.container-fluid
            .row
                .location.col-xs-12.col-sm-12.col-md-6.col-lg-6
                    .map(style="background-image: url('images/temp/contact.jpg')")
                .info.col-xs-12.col-sm-12.col-md-6.col-lg-6
                    .center
                        h1 110 North Fifth Street
                        h1 Minneapolis, MN 55403
                        ul#contact-list
                            li.col-xs-6.col-sm-4.col-md-6.col-lg-6
                                span.title
                                    b GENERAL INQUERY
                                span.name Front Desk
                                span.tel
                                    a(href="tel:16123346000") (612) 334-6000
                                span.email
                                    a(href="mailto:inquiry@clynch.com")
                                        span inquiry@clynch.com
                            li.col-xs-6.col-sm-4.col-md-6.col-lg-6
                                span.title
                                    b CAREERS
                                span.name Ed Huerta-Margotta
                                span.tel
                                    a(href="tel:16123346000") (612) 334-6000
                                span.email
                                    a(href="mailto:inquiry@clynch.com")
                                        span inquiry@clynch.com
                            li.col-xs-6.col-sm-4.col-md-6.col-lg-6
                                span.title
                                    b NEW BUSINESS
                                span.name Dorion Taylor
                                span.tel
                                    a(href="tel:16123346000") (612) 334-6000
                                span.email
                                    a(href="mailto:inquiry@clynch.com")
                                        span inquiry@clynch.com
                            li.col-xs-6.col-sm-4.col-md-6.col-lg-6
                                span.title
                                    b MARKETING
                                span.name Ellie Taylor
                                span.tel
                                    a(href="tel:16123346000") (612) 334-6000
                                span.email
                                    a(href="mailto:inquiry@clynch.com")
                                        span inquiry@clynch.com
                            li.col-xs-6.col-sm-4.col-md-6.col-lg-6
                                span.title
                                    b PRODUCTION
                                span.name Name
                                span.tel
                                    a(href="tel:16123346000") (612) 334-6000
                                span.email
                                    a(href="mailto:inquiry@clynch.com")
                                        span inquiry@clynch.com
                            li.col-xs-6.col-sm-4.col-md-6.col-lg-6
                                span.title
                                    b MEDIA
                                span.name Name
                                span.tel
                                    a(href="tel:16123346000") (612) 334-6000
                                span.email
                                    a(href="mailto:inquiry@clynch.com")
                                        span inquiry@clynch.com
        #lower-strap.container-fluid
            .row
                .social.footer-col.col-xs-12.col-sm-4.col-sm-push-4.col-md-4.col-md-push-4.col-lg-4.col-lg-push-4
                    a(href="#")
                        span#linkedin.fa.fa-linkedin-square
                    a(href="#")
                        span#vimeo.fa.fa-vimeo-square
                    a(href="#")
                        span#twitter.fa.fa-twitter
                    a(href="#")
                        span#facebook.fa.fa-facebook-square
                .copyright.footer-col.col-xs-5.col-sm-4.col-sm-pull-4.col-md-4.col-md-pull-4.col-lg-4.col-lg-pull-4
                    span &#169;2015 Carmichael Lynch
                .links.footer-col.col-xs-7.col-sm-4.col-md-4.col-lg-4
                    a(href="#") contact
                    a(href="#") legal
                    a(href="#") privacy
